on:
  pull_request:
    paths:
      - 'src/**'
      - '.github/workflows/mutation.yml'
      - 'composer.json'

  push:
    branches: ['master']
    paths:
      - 'src/**'
      - '.github/workflows/mutation.yml'
      - 'composer.json'

name: mutation

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  mutation:
    name: PHP ${{ matrix.php }}-${{ matrix.os }}

    env:
      COMPOSER_ROOT_VERSION: 1.0.0
      EXTENSIONS: pdo, pdo_oci

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest

        php:
          - 8.5

    services:
      oci:
        image: gvenzl/oracle-xe:21
        ports:
          - 1521:1521
        env:
          ORACLE_DATABASE: YIITEST
          ORACLE_PASSWORD : root
        options: >-
          --name=oci
          --health-cmd healthcheck.sh
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10

    steps:
      - name: Configure Database.
        run: docker exec -i oci bash -c "sqlplus -s system/root@XE <<< 'ALTER USER system DEFAULT TABLESPACE USERS;'"

      - name: Checkout.
        uses: actions/checkout@v4

      - name: Install PHP with extensions.
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ env.EXTENSIONS }}
          ini-values: memory_limit=-1
          coverage: pcov

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3

      - name: Install db.
        uses: yiisoft/actions/install-packages@master
        with:
          packages: >-
            ['db']

      - name: Run infection.
        run: |
          vendor/bin/infection --threads=2 --ignore-msi-with-no-mutations
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
